/* Gene type styling classes for the RegionViewer */
.gene-type-biosynthetic path {
  fill: #810e15;
}
.gene-type-biosynthetic-additional path {
  fill: #f16d75;
}
.gene-type-regulatory path {
  fill: seagreen;
}
.gene-type-transport path {
  fill: cornflowerblue;
}
.gene-type-other path {
  fill: gray;
}
